@charset "UTF-8";
/*alineacion*/
/*colors*/
/*tipografia*/
/*grosor de letras*/
/*tamaño de letras*/
/*width y height*/
/*extendes*/
.grid-gral, .grid-3, .contacto, .grid-2, .cosymasajes, .maniypedi, .corte {
  display: grid;
  grid-template-columns: 2 auto;
  grid-template-rows: auto;
}

.grid-2, .cosymasajes, .maniypedi, .corte {
  grid-template-areas: "gri1" "gri2";
}

.grid-3, .contacto {
  grid-template-areas: "1" "2";
}

/*mixing*/
img {
  margin-bottom: 80px;
  width: 300px;
  height: 300px;
}

* {
  font-family: "Noto Serif JP", serif;
  font-family: "Merriweather", serif;
  color: white;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-image: url(../fotos/fondonegro.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  color: white;
}

h3 {
  font-weight: 400;
  font-size: 25px;
  margin-left: 35px;
}

h4, h5 {
  font-size: small;
  text-align: center;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  text-align: justify;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: medium;
  color: white;
}

/* navbar */
#color {
  background: linear-gradient(to bottom, rgb(140, 0, 0), black);
}
#color div a {
  color: white;
}
#color ul li a {
  color: white;
}
#color ul li a:hoover {
  color: rgb(99, 93, 93);
}

/* footer */
#final {
  min-height: 80px;
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, rgb(140, 0, 0), black);
  justify-content: center;
  text-align: center;
}
#final #iconos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

@media (max-width: 992px) {
  a {
    font-size: small;
  }
  h2 {
    font-size: large;
  }
  .corte div h3 {
    font-size: 30px;
    margin-top: 0px;
  }
  .corte div p {
    width: 650px;
    font-size: medium;
  }
  .cosymasajes {
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas: "gri1" "gri2";
  }
  .cosymasajes div h3 {
    font-size: 30px;
    margin-top: 0px;
  }
  .cosymasajes div p {
    width: 650px;
    font-size: medium;
  }
  .maniypedi {
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas: "gri1" "gri2";
  }
  .maniypedi div h3 {
    font-size: 30px;
    margin-top: 0px;
  }
  .maniypedi div p {
    width: 650px;
    font-size: medium;
  }
  .contacto {
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas: "1" "2";
    justify-items: center;
  }
  .contacto div h3 {
    margin-left: 0px;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    padding-top: 10px;
  }
  .contacto div p {
    width: 650px;
    font-size: medium;
  }
}
@media (max-width: 768px) {
  a {
    font-size: x-small;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: medium;
  }
  h3 {
    margin: 0%;
    text-align: center;
  }
  .corte div h3 {
    font-size: 20px;
  }
  .corte div p {
    width: 500px;
    font-size: small;
  }
  .cosymasajes div h3 {
    font-size: 20px;
  }
  .cosymasajes div p {
    width: 500px;
    font-size: small;
  }
  .maniypedi div h3 {
    font-size: 20px;
  }
  .maniypedi div p {
    width: 500px;
    font-size: small;
  }
  .contacto div h3 {
    font-size: 20px;
  }
  .contacto div p {
    width: 500px;
    font-size: small;
  }
  .contacto .ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 490px;
  }
}
@media (max-width: 584px) {
  h1 {
    font-size: x-large;
  }
  h3 {
    font-size: medium;
  }
  .galeria {
    height: 420px;
  }
  .galeria img {
    width: 0px;
    align-self: auto;
  }
  .galeria img:hover {
    width: 200px;
  }
  .corte div p {
    width: 340px;
  }
  .cosymasajes div p {
    width: 340px;
  }
  .maniypedi div p {
    width: 340px;
  }
  .contacto div p {
    width: 340px;
  }
  .contacto .ubicacion {
    width: 335px;
  }
}
@media (max-width: 365px) {
  .corte div p {
    width: 295px;
  }
  .cosymasajes div p {
    width: 295px;
  }
  .maniypedi div p {
    width: 295px;
  }
  .contacto div p {
    width: 295px;
  }
  .ubicacion {
    width: 290px;
  }
}
/* hoja de inicio */
.galeria {
  display: flex;
  height: 420px;
}
.galeria img {
  width: 0px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  transition: 0.5s ease;
  align-self: center;
}
.galeria img:hover {
  cursor: crosshair;
  width: 200px;
  opacity: 1;
  filter: contrast(120%);
}

.altura {
  height: 250px;
}

/* hoja de peluqueria */
.corte {
  display: flex;
  justify-content: space-evenly;
}
.corte div img {
  margin-bottom: 80px;
  width: 300px;
  height: 300px;
}
.corte div p {
  width: 650px;
}

/* hoja de manicura y pedicura */
.maniypedi {
  display: flex;
  justify-content: space-evenly;
}
.maniypedi div img {
  margin-bottom: 80px;
  width: 300px;
  height: 300px;
}
.maniypedi div p {
  width: 650px;
}

/* hoja de cosmiatria y masajes */
.cosymasajes {
  display: flex;
  justify-content: space-evenly;
}
.cosymasajes div img {
  margin-bottom: 80px;
  width: 300px;
  height: 300px;
}
.cosymasajes div p {
  width: 650px;
}

/* hoja de contacto */
.contacto {
  display: flex;
  justify-content: space-evenly;
}

.contacto_div p {
  width: 500px;
}

.ubicacion {
  justify-content: space-evenly;
}

#h3formulario {
  text-align: center;
}

form div label {
  color: black;
}/*# sourceMappingURL=style.css.map */