@media (max-width: 1285px){
    
    .cuerpo{
        height: 350px;
    }
}

@media (max-width: 992px){
    a{
        font-size: $fonts;
    }
    h2{
        font-size: $fontl;
    }

    #color{
        div{
            ul{
                li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;
                    margin-top: 10px;
                    a{
                        margin: 0px;
                    }
                }
            }
        }   
    }
    .cuerpo{
        height: 260px;
    }
    
    .articulos{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "gri1" "gri2";
        justify-items: center;
        div{
            margin-top: 10px;
            margin-bottom: 50px;
            img{
            margin-bottom: 70px;
            }
            h3{
            font-size: 33px;
            }
            p{
            font-size: $fontl;
            }
        }
    }
    
    .cosymasajes{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "gri1" "gri2";
        div{
            h3{
            font-size: 30px;
            margin-top: 0px;
            }
            p{
            width: $w-650;
            font-size: $fontm;
            }
        }
    }

    .maniypedi{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "gri1" "gri2";
        div{
            h3{
            font-size: 30px;
            margin-top: 0px;
            }
            p{
            width: $w-650;
            font-size: $fontm;
            }
        }
   }

   .contacto{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas: "1" "2";
    justify-items: $centro;
        div{
            h3{
            margin-left: 0px;
            text-align: $centro;
            font-size: 25px;
            margin-top: 0px;
            padding-top: 10px;
            }
            p{
            width: $w-650;
            font-size: $fontm;
            }
        }
    
    }
}

@media (max-width: 768px){
    a{
        font-size: $fontxs;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: $fontm;
    }
    h3{
        margin: 0%;
        text-align: $centro;
    }

    #color{
        .marca{
            font-size: $fontxl;
        }
    }

    .articulos{
        div{
            margin-top: 10px;
            margin-bottom: 50px;
            img{
            margin-bottom: 70px;
            }
            h3{
            font-size: 28px;
            }
            p{
            width: $w-500;
            font-size: $fontl;
            }
        }
    }
    .cosymasajes{
        div{
            h3{
            font-size: 20px;
            }
            p{
            width: $w-500;
            font-size: $fonts;
            }
        }
    }

    .maniypedi{
        div{
            h3{
            font-size: 20px;
            }
            p{
            width: $w-500;
            font-size: $fonts;
            }
        }
    }

    .contacto{
        div{
            h3{
            font-size: 20px;
            }
            p{
            width: $w-500;
            font-size: $fonts;
            }
        }
        .ubicacion{
        display: flex;
        flex-direction: column;
        align-items: $centro;
        width: 490px;
        }
    }
}


@media (max-width: 584px){
    h1{
        font-size: $fontxxl;
    }
    h3{
        font-size: $fontm;
    }

    #color{
        .marca{
            font-size: $fontl;
        }
    }

    .galeria{
        height: 420px;
        img{
            width: 0px;
            margin: 0px;
            align-self: auto;
            &:hover{
                height: 420px;
                width: 190px;
            }
        }
    }
    
    .articulos{
        div{
            margin-top: 10px;
            margin-bottom: 50px;
            img{
            width: $wh-250;
            height: $wh-250;
            margin-bottom: 70px;
            }
            h3{
            font-size: 25px;
            }
            p{
            width: 280px;
            }
        }
    }

    .cosymasajes{
        div{
            p{
            width: 340px;
            }
        }
    }
    .maniypedi{
        div{
            p{
            width: 340px;
            }
        }
    }

    .contacto{
        div{
            p{
            width: 340px;
            }
        }
        .ubicacion{
            width: 335px;
        }
    }
    
}


@media (max-width: 365px){

    .articulos{
        img{
            margin-bottom: 0px;
        }
        div{
            margin-bottom: 70px;
        }
    }

    .cosymasajes{
        div{
            p{
            width: 295px;
            }
        }   
    }
    .maniypedi{
        div{
            p{
            width: 295px;
            }
        }
    }
    .contacto{
        div{
            p{
            width: 295px;
            }
        }
    }
    .ubicacion{
        width: 290px;
    }
    .centrado{
        .error{
            font-size: 160px;
        }
    }
}