/* navbar */
#color{
    background: $color1;
    div{
        a{
            color: white;
            }
        ul{
            li{
                a{
                    color: $textcolor;
                    &:hover{
                        color :  rgb( 99 ,  93 ,  93 );
                    }
                }
            }
        }
    }   
}


/* footer */
#final{
    min-height: 80px;
    display: flex;
    width: 100%;
    background: $color1;
    justify-content: $centro;
    text-align: $centro;

    #iconos{
        display: flex;
        justify-content: $s-evenly;
        align-items: $centro;
        margin: 20px;
    }
}