/*alineacion*/
$centro: center;
$justificado:justify;
$s-evenly: space-evenly;

/*colors*/
$color1: linear-gradient(to bottom,rgba(140, 0, 0, 1), black);
$textcolor: white;

/*tipografia*/
$font1:'Noto Serif JP', serif;
$font2:'Merriweather', serif;

/*grosor de letras*/
$textligth:300;
$textregular:400;
$textbold:700;

/*tamaño de letras*/
$fontxs:x-small;
$fonts:small;
$fontm:medium;
$fontl:large;
$fontxl: x-large;

/*width y height*/
$wh-300:300px;
$w-500:500px;
$w-650:650px;