/*alineacion*/
$centro: center;
$justificado:justify;
$s-evenly: space-evenly;

/*colors*/
$color1: linear-gradient(to top,rgb(53, 53, 53), black);
$colorb: black;
$color2: rgb(91, 91, 91);
$textcolor: white;

/*tipografia*/
$font1:'Merriweather', serif;
$font2:'Montserrat', sans-serif;

/*grosor de letras*/
$textligth:300;
$textregular:400;
$textbold:700;

/*tamaño de letras*/
$fontxs:x-small;
$fonts:small;
$fontm:medium;
$fontl:large;
$fontxl: x-large;
$fontxxl: xx-large;

/*width y height*/
$wh-250:250px;
$wh-300:300px;
$w-500:500px;
$w-650:600px;