@import "_variables";
@import "_mix";
@import "_comunes";
@import "_navfooter";
@import "_medias";

/* hoja de inicio */
.galeria{
    display: flex;
    height: 420px;
    img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
    align-self: $centro;
        &:hover{
        cursor: crosshair;
        width: 200px;
        opacity: 1;
        filter: contrast(120%);
        }
    }
}
.altura{
    height: 250px;
}


/* hoja de peluqueria */
.corte{
    display: flex;
    justify-content: $s-evenly;
    @extend .grid-2;
    div{
        img{
        margin-bottom: 80px;
        width: $wh-300;
        height: $wh-300;
        }
        p{
        width: $w-650;
        }
    }
}


/* hoja de manicura y pedicura */
.maniypedi{
    display: flex;
    justify-content: $s-evenly;
    @extend .grid-2;
    div{
        img{
        margin-bottom: 80px;
        width: $wh-300;
        height: $wh-300;
        }
        p{
        width: $w-650;
        }
    }
}


/* hoja de cosmiatria y masajes */
.cosymasajes{
    display: flex;
    justify-content: $s-evenly;
    @extend .grid-2;
    div{
        img{
        margin-bottom: 80px;
        width: $wh-300;
        height: $wh-300;
        }
        p{
        width: $w-650;
        }
    }
}


/* hoja de contacto */
.contacto{
    display: flex;
    justify-content: $s-evenly;
    @extend .grid-3;
}
.contacto_div{
    p{
    width: $w-500;
    }
}

.ubicacion{
    justify-content: $s-evenly;
}
#h3formulario{
    text-align: $centro;
}
form{
    div{
        label{
        color: black;
        }
    }
}
