*¨{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
main{
    background-image: url(../fotos/fondonegro.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
} 

/* tipograia de todos*/
*{
    font-family: 'Noto Serif JP', serif;
    font-family: 'Merriweather', serif;
    color: white;
}
h1{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
h1:hover{
    transform: scale(1,2);
    cursor: pointer;
    transition: all 0,5s;
}
h2{
    font-weight: 400;
    font-size: 30px;
    color: white;
}
h3{
    font-weight: 400;
    font-size: 25px;
    margin-left: 35px;
}
h4{
    font-size: small;
    text-align: center;
}
h5{
    font-size: x-small;
    text-align: center;
}
p{
    font-weight: 300; 
    font-size: 18px;
    line-height: 19px;
    text-align: justify;
}

ul{
    list-style: none
}

li{
    text-align: center;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: medium;
    color: white;
}


/* navbar */
.navbar{
    grid-column: 1/5;
    grid-row: 1/2;
    justify-content: center;
    display: flex;
    width: 100%;
    background: linear-gradient(to bottom,rgba(140, 0, 0, 1), black);
}
.navbar2{
    grid-column: 1/5;
    grid-row: 1/2;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#botonera{
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}
#boton{
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#boton li{
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 10px;
    list-style: none;
}


/* footer de todos */
#final{
    min-height: 80px;
    display: flex;
    width: 100%;
    background: linear-gradient(to top,rgba(140, 0, 0, 1), black);
    justify-content: center;
    text-align: center;
}
#iconos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}


/* hoja de inicio */
.modelos{
    width: 100%;
    justify-content: center;
    margin: 5px;
    display: grid;
    grid-template-columns: 4 auto;
    grid-template-rows: auto;
    grid-template-areas: "img1 img2 img3 img4";
}
.modelos>div>img{
    align-items: center;
    width: 320px;
    height: 300px;
}

.titulotop{
    padding: 10px;
}
.productos{
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 4 auto;
    grid-template-rows: auto;
    grid-template-areas: "img1 img2 img3 img4"
}
figure{
    border: solid white 5px;
    justify-content: space-evenly;
    border-width: 1px;
    font-weight: 400;
    padding:8px;
    cursor: pointer;
}
.productos>figure>img{
    width: 280px;
    height: 260px;
}
figure>figcaption{
    align-items: center;
    text-align: center;
}
figure>p{
    align-items: center;
}


/* hoja de peluqueria */
.corte{
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: auto;
    grid-template-areas: "gr1 gri2";
}
.corte>div>img{
    margin-bottom: 80px;
    width: 300px;
    height: 300px;
}
.corte>div>p{
    width: 650px;
}


/* hoja de manicura y pedicura */
.maniypedi{
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: auto;
    grid-template-areas: "gr1 gri2";
}
.maniypedi>div>img{
    margin-bottom: 80px;
    width: 300px;
    height: 300px;
}
.maniypedi>div>p{
    width: 650px;
}


/* hoja de cosmiatria y masajes */
.cosymasajes{
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: auto;
    grid-template-areas: "gr1 gri2";
}
.cosymasajes>div>img{
    margin-bottom: 80px;
    width: 300px;
    height: 300px;
}
.cosymasajes>div>p{
    width: 650px;
}


/* hoja de contacto */
.contacto{
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 2 auto;
    grid-template-rows: auto;
    grid-template-areas: "1 2";
}
.contacto_div>p{
    width: 500px;
}

.ubicacion{
    justify-content: space-evenly;
}
#h3formulario{
    text-align: center;
}
form>div>label{
    color: black;
}



@media (max-width: 992px){
    a{
        font-size: small;
    }
    h2{
        font-size: large;
    }
    .modelos{
        grid-template-columns: 2 auto;
        grid-template-rows: 2;
        grid-template-areas: "img1 img2" "img3 img4";
    }
    .productos{
        grid-template-columns: 2 auto;
        grid-template-rows: 2;
        grid-template-areas: "img1 img2" "img3 img4";
    }

    .corte{
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "gri1" "gri2";
    }
    .corte>div>h3{
        font-size: 30px;
        margin-top: 0px;
    }
    .corte>div>p{
        width: 650px;
        font-size: medium;
    }
    
    .cosymasajes{
         grid-template-columns: 1;
         grid-template-rows: auto;
         grid-template-areas: "gri1" "gri2";
    }
    .cosymasajes>div>h3{
         font-size: 30px;
         margin-top: 0px;
    }
    .cosymasajes>div>p{
        width: 650px;
        font-size: medium;
    }

    .maniypedi{
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "gri1" "gri2";
   }
   .maniypedi>div>h3{
        font-size: 30px;
        margin-top: 0px;
   }
   .maniypedi>div>p{
       width: 650px;
       font-size: medium;
   }

   .contacto{
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-template-areas: "1" "2";
    justify-items: center;
    }
    .contacto>div>h3{
        margin-left: 0px;
        text-align: center;
        font-size: 25px;
        margin-top: 0px;
        padding-top: 10px;
    }
    .contacto>div>p{
    width: 650px;
    font-size: medium;
    }
    .ubicacion{
        width: 645px;
    }
}

@media (max-width: 768px){
    a{
        font-size: x-small;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: medium;
    }
    h3{
        margin: 0%;
        text-align: center;
    }
    .modelos{
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "img1" "img2" "img3" "img4";
    }
    .productos{
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: "img1" "img2" "img3" "img4";
    }

    .corte>div>h3{
        font-size: 20px;
    }
    .corte>div>p{
        width: 500px;
        font-size: small;
    }

    .cosymasajes>div>h3{
        font-size: 20px;
    }
    .cosymasajes>div>p{
        width: 500px;
        font-size: small;
    }

    .maniypedi>div>h3{
        font-size: 20px;
    }
    .maniypedi>div>p{
        width: 500px;
        font-size: small;
    }

    .contacto>div>h3{
        font-size: 20px;
    }
    .contacto>div>p{
        width: 500px;
        font-size: small;
    }
    .ubicacion{
        width: 490px;
    }
}


@media (max-width: 584px){

    h1{
        font-size: x-large;
    }
    h3{
        font-size: medium;
    }
    .navbar2{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 5px;
    }
    #boton{
        margin: 5px;
    }
    #boton li{
        margin: 5px;
    }

    .corte>div>p{
        width: 340px;
    }

    .cosymasajes>div>p{
        width: 340px;
    }

    .maniypedi>div>p{
        width: 340px;
    }

    .contacto>div>p{
        width: 340px;
    }
    .ubicacion{
        width: 335px;
    }
}


@media (max-width: 365px){
    .modelos{
        margin: 0px;
    }
    .corte>div>p{
        width: 295px;
    }

    .cosymasajes>div>p{
        width: 295px;
    }

    .maniypedi>div>p{
        width: 295px;
    }

    .contacto>div>p{
        width: 295px;
    }
    .ubicacion{
        width: 290px;
    }
}